<!DOCTYPE html>
<html lang="en">
   <head>
      <title>AUCS</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/bootstrap.min.css">
      <link rel="stylesheet" href="/mycss.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
      <script language="JavaScript" src="/jquery.min.js"></script>
      <script language="JavaScript" src="/bootstrap.min.js"></script>
      <script language="JavaScript" src="/myjs.js"></script>
   </head>
   <body background="/light.jpg" >
      <br>
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12" >
               <div id="first-slider" style="border-radius:10px;-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);box-shadow:5px 5px 4px 4px rgba(0, 0, 0, .5);">
                  <div id="carousel-example-generic" class="carousel slide carousel-fade">
                     <!-- Indicators -->
                     <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                     </ol>
                     <!-- Wrapper for slides -->
                     <div class="carousel-inner" role="listbox">
                        <!-- Item 1 -->
                        <div class="item active slide1">
                           <div class="row">
                              <div class="container">
                                 <div class="col-md-3 text-right">
                                    <img style="max-width: 200px; border-radius:10px;"  data-animation="animated zoomInLeft" src="/capture.png">
                                 </div>
                                 <div class="col-md-9 text-left">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- Item 2 -->
                        <div class="item slide2">
                           <div class="row">
                              <div class="container">
                                 <div class="col-md-7 text-left">
                                 </div>
                                 <div class="col-md-5 text-right">
                                    <img style="max-width: 200px; border-radius:10px;"  data-animation="animated zoomInLeft" src="/capture.png">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- Item 3 -->
                        <div class="item slide3">
                           <div class="row">
                              <div class="container">
                                 <div class="col-md-7 text-left">
                                 </div>
                                 <div class="col-md-5 text-right">
                                    <img style="max-width: 200px; border-radius:10px;"  data-animation="animated zoomInLeft" src="/capture.png">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- Item 4 -->
                        <div class="item slide4">
                           <div class="row">
                              <div class="container">
                                 <div class="col-md-7 text-left">
                                 </div>
                                 <div class="col-md-5 text-right">
                                    <img style="max-width: 200px; border-radius:10px;"  data-animation="animated zoomInLeft" src="/capture.png">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Item 4 -->
                     </div>
                     <!-- End Wrapper for slides-->
                     <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                     <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
                     </a>
                     <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                     <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-3" style="border-radius:10px; margin-left:50px;margin-top:80px;">
               <div id="sidelist" style="border-radius:10px;-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);box-shadow:5px 5px 4px 4px rgba(0, 0, 0, .5);">
                  <ul style="list-style-type: none;margin-left:0px;padding-left:0px;">
                     <li>
                        <a style="color:red;" >
                           <div class="well well-lg" style="margin:0px;">Home<img height=40px width=40px style="float:right;"src="/home.png"/></div>
                        </a>
                     </li>
                     <li>
                        <a href="tutorial.html">
                           <div class="well well-lg" style="margin:0px;">Tutorial<img height=40px width=40px style="float:right;"src="/tutorial.png"/></div>
                        </a>
                     </li>
                     <li>
                        <a href="ranking.html">
                           <div class="well well-lg" style="margin:0px;">Calculate Ranking<img height=40px width=40px style="float:right;"src="/ranking.png"/></div>
                        </a>
                     </li>
                     <li>
                        <a href="criteria.html">
                           <div class="well well-lg" style="margin:0px;">Criteria Information<img height=40px width=40px style="float:right;"src="/information.png"/></div>
                        </a>
                     </li>
                     <li>
                        <a href="about.html">
                           <div class="well well-lg" style="margin:0px;">About us<img height=40px width=40px style="float:right;"src="/aboutus.png"/></div>
                        </a>
                     </li>
                     <li>
                        <a href="contact.html">
                           <div class="well well-lg" style="margin:0px;">Contact us<img height=40px width=40px style="float:right;"src="/contactus.png"/></div>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-sm-9" style="margin-top:80px;color:#180000; font-size:30px;-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);box-shadow:5px 5px 4px 4px rgba(0, 0, 0, .5);" >
               <div class="aboutus"align="center">
                  Welcome!!
                  <div>
                     <p>
                     Automated University Comparison System (AUCS) is an automated and flexible system designed to compare and rank universities on basis of latest data extracted from the official website of the universities. All you need to do is to provide the universities you want to compare, and the criteria you want to use, and THAT’s ALL. The system will itself extract the data and compute results. These results are then shown in a user friendly manner to the user.    
                     </p>
                  </div>
               </div>
               <br><br>
            </div>
         </div>
      </div>
   </body>
</html>